* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.profile-pic {
    align-self: center;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 25px;
    object-fit: cover;
}

header {
    color: aliceblue;
    background-color: black;
    background-size: cover;
    width: 100%;
    min-height: 150px;
}

.nav-bar {
    display: flex;
    margin: 16px;

}

.about-me {
    width: 25%;
    min-height: 33vh;
    text-align: left;

}
