* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100px;
    background-image: linear-gradient(purple);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black;
}

.profile-pic {
    align-self: center;
    width: 200px;
    height: 200px;
    margin-left: 6px;
    object-fit: cover;
}